<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
</head>
<body>
  <h2>Hello World</h2>
  <% if (user) { %>
    <p>Selamat datang, <%= user.username %>! Anda sudah login.</p>
    <a href="/logout">Logout</a>
<% } else { %>
    <p>Silakan login untuk mengakses halaman ini.</p>
    <a href="/login">Login</a>
<% } %>

</body>
</html>