<div class="col-lg-8 mx-auto p-3 py-md-5">
    <main>
        <h1>Start Your Journey</h1>
        <p class="fs-5 col-md-8">
            Selamat datang di platform kami yang khusus dirancang untuk kelas
            PPLG 1 di sekolah kami! <br />
        </p>
        <p class="fs-5 col-md-8">
            Bergabunglah dengan kami sekarang dan mari bersama-sama mencapai
            kesuksesan dalam kelas X PPLG 1!
        </p>
        <div class="mb-5">
            <a href="/auth/login" class="btn btn-primary btn-lg px-4">Bergabung</a>
        </div>

        <hr class="col-3 col-md-2 mb-5" />

        <div class="row g-5">
            <div class="col-md-6">
                <h2>Petunjuk Arah</h2>
                <p>
                    Ayo Ikuti Acara dan Keseruan di kelas maupun sekolah, kita
                    bangun negeri ini menjadi lebih baik 😎
                </p>
                <ul class="icon-list">
                    <li><a href="">Bootstrap quick start guide</a></li>
                    <li><a href="">Bootstrap Webpack guide</a></li>
                    <li><a href="">Bootstrap Parcel guide</a></li>
                    <li><a href="">Contributing to Bootstrap</a></li>
                </ul>
            </div>
        </div>
    </main>
    <footer class="pt-5 my-5 text-muted border-top">
        Created on ♥ @Fauzaro01 &middot; &copy; <%= new Date().getFullYear() %>
        | Framework : Bootstrap@5.0
    </footer>
</div>
