<div class="col-lg-8 mx-auto p-3 py-md-5">
    <main>
        <h1>Start Your Journey</h1>
        <p class="fs-5 col-md-8">
          Selamat datang di platform kami yang khusus dirancang untuk kelas PPLG 1 di sekolah kami!
          Mulai dari materi pembelajaran hingga sumber daya yang berguna, kami memiliki segalanya yang Anda butuhkan untuk sukses dalam kelas ini.
          Kami juga menyediakan fitur chatting yang memungkinkan Anda untuk berinteraksi dengan teman-teman sekelas secara online. 
          Anda dapat berdiskusi, bertanya, dan berbagi pemahaman tentang materi pelajaran. Fitur ini memungkinkan Anda untuk tetap terhubung, bahkan di luar jam-jam kelas.
          Jangan lewatkan kesempatan untuk mengembangkan pemahaman Anda tentang Web Developer dan memperluas jejaring sosial dan mempererat tali persaudaraan Anda dalam prosesnya. 
          Bergabunglah dengan kami sekarang dan mari bersama-sama mencapai kesuksesan dalam kelas X PPLG 1!
          
        </p>

        <div class="mb-5">
            <a href="examples" class="btn btn-primary btn-lg px-4"
                >Download examples</a
            >
        </div>

        <hr class="col-3 col-md-2 mb-5" />

        <div class="row g-5">
            <div class="col-md-6">
                <h2>Guides</h2>
                <p>
                    Read more detailed instructions and documentation on using
                    or contributing to Bootstrap.
                </p>
                <ul class="icon-list">
                    <li><a href="">Bootstrap quick start guide</a></li>
                    <li><a href="">Bootstrap Webpack guide</a></li>
                    <li><a href="">Bootstrap Parcel guide</a></li>
                    <li><a href="">Contributing to Bootstrap</a></li>
                </ul>
            </div>
        </div>
    </main>
    <footer class="pt-5 my-5 text-muted border-top">
        Created by the Bootstrap team &middot; &copy; <%= new
        Date().getFullYear() %>
    </footer>
</div>
