<header class="py-5 bg-light">
    <div class="col-lg-6 mx-auto">
        <h1 class="fw-bolder">Gapai Impian tanpa Keraguan!</h1>
        <p class="lead mb-4 mt-3">Platform Chat dan Informasi seputar Kelas PPLG</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-left">
          <a href="/auth/register" class="btn btn-dark btn-lg px-4 gap-3">Join</a>
          <a href="#" class="btn btn-outline-secondary btn-lg px-4">Postingan Kita</a>
        </div>
    </div>
</header>