<div class="container">
  <div class="row justify-content-center mt-5 px-3">
    <div class="col-lg-4">
      <div class="card shadow border-dark">
        <div class="card-title text-center border-bottom">
          <h2 class="p-3 title">Sign in</h2>
        </div>
        <div class="card-body">
          <form method="post" action="/auth/login">
              <%- include('layout/msg')  %> 
              <%- include('layout/errors')  %> 
            <div class="mb-4">
              <label for="username" class="form-label">Username</label>
              <input type="text" name="username" class="form-control" id="username" required />
            </div>
            <div class="mb-4">
              <label for="password" class="form-label">Password</label>
              <input type="password" name="password" class="form-control" id="password" required />
            </div>
            <%- recaptcha %>
            <div class="mb-2 py-2">
              <p>Belum memiliki akun?
                <a class="btn btn-sm btn-dark" href="/auth/register">Daftar</a></p>
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-submit border-dark">
                Masuk 
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>