<div class="container">
    <div class="card mb-4">
        <div class="card-header">NOTE: 1 KOLOM = 20 Menit</div>
        <div class="card-body">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">Hari</th>
                        <th scope="col">1</th>
                        <th scope="col">2</th>
                        <th scope="col">3</th>
                        <th scope="col">4</th>
                        <th scope="col">5</th>
                        <th scope="col">6</th>
                        <th scope="col">7</th>
                        <th scope="col">8</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Senin</th>
                        <td colspan="4" class="table-success">DLG</td>
                        <td colspan="4" class="table-danger">MTK</td>
                    </tr>
                    <tr>
                        <th scope="row">Selasa</th>
                        <td colspan="4" class="table-info">TIK</td>
                        <td colspan="4" class="table-danger">IPAS</td>
                    </tr>
                    <tr>
                        <th scope="row">Rabu</th>
                        <td colspan="2" class="table-warning">KMD</td>
                        <td colspan="4" class="table-success">DLG</td>
                        <td colspan="2" class="table-info">PABP</td>
                    </tr>
                    <tr>
                        <th scope="row">Kamis</th>
                        <td colspan="2" class="table-info">Sejarah</td>
                        <td colspan="2" class="table-warning">SBK</td>
                        <td colspan="2" class="table-danger">IPAS</td>
                        <td colspan="2" class="table-secondary">B.Arab</td>
                    </tr>
                    <tr>
                        <th scope="row">Jum'at</th>
                        <td colspan="4" class="table-secondary">B.Inggris</td>
                        <td colspan="4" class="table-success">DLG</td>
                    </tr>
                    <tr>
                        <th scope="row">Sabtu</th>
                        <td colspan="4" class="table-warning">B.Indonesia</td>
                        <td colspan="2" class="table-success">PKN</td>
                        <td colspan="2" class="table-info">PJOK</td>
                    </tr>
                    <tr>
                        <th scope="row">Minggu</th>
                        <td colspan="8" class="table-success">Tidur</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</div>