<!-- Login Form -->
<div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card shadow">
          <div class="card-title text-center border-bottom">
            <h2 class="p-3">Register</h2>
          </div>
          <div class="card-body">
            <form method="post" action="/auth/register">
              <%- include('layout/msg')  %> 
              <%- include('layout/errors')  %> 
                <!-- <div class="mb-4">
                  <label for="fullname" class="form-label">Fullname</label>
                  <input type="text" name="fullname" class="form-control" id="fullname" required/>
                </div> -->
                <div class="mb-4">
                  <label for="username" class="form-label">Username</label>
                  <input type="text" name="username" class="form-control" id="username" required/>
                </div>
                <!-- <div class="mb-4">
                  <label for="username" class="form-label">Email</label>
                  <input type="email" name="email" class="form-control" id="email" required/>
                </div> -->
                <div class="mb-4">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" name="password" class="form-control" id="password" required/>
                </div>
                <div class="mb-4">
                  <label for="floatingPassword">Confirm Password</label>
                  <input type="password" name="confirmPassword" class="form-control" id="floatingInput" required/>
                </div>
              <%- recaptcha %>
              <div class="mb-6">
                <input type="checkbox" class="form-check-input" id="remember" />
                <label for="remember" class="form-label">Remember Me</label>
              </div>
              <div class="mb-2">
                <label for="hint" class="form-label">Sudah Mempunyai Akun? <a class="a-none"href="/daftar">Login</a></label>
              </div>
              <div class="d-grid">
                <button type="submit" value="Submit" class="btn text-light from-go">Go</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>