@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
    --main-bg: #e91e63;
    --main-bg-gradient: linear-gradient(
        -45deg,
        #5c27fe,
        #c165dd,
        #1de5e2,
        #2afeb7
    );
    --color-cyan-light: #0fdfdb;
    --color-cyan-dark: #00b4b1;
}

.border-dark {
    border: 1px black solid
}

.main-bg-gradient {
    background: var(--main-bg-gradient);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100%;
}

.main-bg-gradient::before {
    backdrop-filter: blur(20px); /* Atur nilai blur sesuai keinginan Anda */
  }

.p-3.title {
    font-weight: 700;
    font-size: 30px;
}

.btn-submit {
    background-color:var(--color-cyan-light);
    color: white;
    font-size: large;
    font-weight: 600;
}

.btn-submit:hover {
    background-color: var(--color-cyan-dark);
    color: white;
}

input:focus,
button:focus {
    border: 1px solid var(--color-cyan-light) !important;
    box-shadow: none !important;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media only screen and (max-width: 500px) {
    .g-recaptcha {
        transform:scale(0.77);
        transform-origin:0 0;
    }
}